header{
    position: fixed;
    background-color: var(--color-background);
    z-index: 99;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.side{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 30px;
    gap: 30px;
}
a{
    height: 70%;
    cursor: pointer;
}
#logo_menu{
    height: 100%;
    border-radius: 10px;
}
nav{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}
nav a,.sub-father{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    font-size: 1.25rem;
    cursor: pointer;
}
nav a::before {
    content: "";
    position: absolute; 
    bottom: -3px; 
    left: 50%; 
    width: 0; 
    height: 1px; 
    /* background-color: #c3073f;  */
    background-color: #fff; 
    /* opacity: 0;  */
    transition: 0.6s; 
    transform-origin: center bottom;
    
}
  
nav a:hover::before{
    /* opacity: 1;  */
    left: 0;
    width: 100%;
}
nav a:hover{
    color: var(--color-primary);
}

.spaceHeader{
    height: 90px;
}
.pesquisar{
    display: flex;
    gap: 5px;
    padding: 0.4rem;
    align-items: center;
    border: 1px solid #636363;
    border-radius: 5px;
}
.pesquisar input{
    border: none;
    border-style: none;
    background-color: transparent;
    width: 280px;
    
}
.pesquisar input[type="text"]:focus {
    outline: none;
    border: none;
}
.sub-father{
    position: relative;
    z-index: 100;
}
.sub-menu { 
    display: none;
    position: absolute;
    top: 100%; /* Posiciona o submenu logo abaixo do pai */
    left: 0; /* Alinha o submenu à esquerda do pai */
    /* background-color: white; */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: -11;
    animation: 1s down-menu ease-in-out;
}
.sub-father:hover .sub-menu {
    display: block;
}
.sub-father:hover{
    color: var(--color-primary);
}
.sub-menu{
    width: 100%;
    background-color: var(--color-background);
    padding: 10px;
    /* border: 1px solid var(--color-primary); */
}
li{
    list-style: none;
    margin-top: 13px;
    transition: 0.5s;
}
li:hover{
   transform: translateX(10px);
   color: var(--color-primary);
}
@keyframes down-menu {
    0%{
        top: -200%;
        opacity: 0;
    }
    100%{
        top: 100%;
        opacity: 100%;
    }
}