*{
    cursor: default;
}
.conteudo-span-span{
    font-size: 0.7rem;
    cursor: default;
    margin-top: 40px;
}
.conteudo-span{
    font-size: 0.7rem;
    text-decoration: none;
}
.conteudo-span:hover{
    color: var(--color-primary);
}
h1{
    font-size: 2rem;
}
p{
    font-size: 1rem;
}
.container-conteudo{
    display: flex;
    flex-direction: column;
    
}
.container-conteudo h1{
    padding-bottom: 45px;
}
.container-conteudo .buttons{
    position: absolute;
    bottom: 0;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-self:end;
}

body main section{
    width: 95%;
    border: 10px solid var(--color-background-conversation);
    border-radius: 10px;
    background-color: var(--color-background);
    padding: 15px;
    margin-top: 90px;
}
.toggle{
    height: 3rem;
    display: flex;
    position: absolute;
    margin-top: calc(-24px + -3rem);
    background-color: var(--color-background-conversation);
    border: 9px solid var(--color-background-conversation);
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
}
.type{
    
    padding: 15px;
    width: 70px;
    text-align: center;
    cursor: pointer;
}
.type:hover{
    filter: brightness(80%);
}
.type-active{
    background-color: var(--color-background);
    border-radius: 4px 4px 0px 0px;
}



#video{
    display: none;
    width: 90%;
    height: 400px;
    margin-left: 5%;
}
#iframe{
    display: none;
    width: 90%;
    margin-left: 5%;
   height: 400px;
    
}