:root{
    --color-background: #01080E;
    --color-primary:#2BDEFD;
    --color-secondary: #2BFDBE;
    --color-background-secondary: #021017;
    --color-background-conversation: #092D5D;
    scroll-behavior: smooth;
}


*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
}
body{
    background-color: var(--color-background);
    scroll-behavior: smooth;
}


main{
    width: 100%;
    min-height: calc(100vh - 68px);

}
.container{
    padding-inline: 30px;
    width: calc(100% - 60px);
    min-height: 50vh;
}
.container-side{
    height: 100%;
}
.element-flex{
    display: flex;
    align-items: center;
}
.title-primary{
    color: var(--color-primary);
    font-size: 4rem;
}
.subtitle-primary{
    color: aliceblue;
    font-size: 2rem;
}

.container-division{
    position: relative;
}
.btn-voltar{
    position: absolute;
    top: 95px;
    left: 30px;
    font-size: 3rem;
    cursor: pointer;

}
.btn-voltar:hover{
    color: var(--color-primary);
}