.cards-container {
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, var(--color-background), #494949);
    border-bottom: 2px solid var(--color-secondary);
}

.cards-title {
    padding-top: 2rem;
    color: aliceblue;

}

.cards-category {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cards-category-title {
    align-self: flex-start;
    margin-left: 30px;
    margin-top: 30px;
}

.cards-category-bar {
    height: 2px;
    width: calc(100% - 60px);
    background-color: #fff;
}

.cards-list {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 3%;
}

.card {
    width: 250px;
    height: 280px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background-secondary);
    border-radius: 15px;
    cursor: default;
}

.card-title {
    font-size: 1.3rem;
    width: 95%;
    height: 35%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-secondary);
}

.card-text {
    height: 40%;
    width: 95%;
    display: flex;
    align-items: baseline;
    text-align: center;
    transition: all 0.3s ease-in-out;
    /* color: gray; */
}

.card:hover {
    transform: translateY(-10px);
    border: 1px solid var(--color-secondary);
}

.card-span {
    height: 5%;
    font-size: 0.7rem;
    color: gray;
}