.button-transparent {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.button-transparent::before,
.button-transparent::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.button-transparent::before {
    top: -1em;
    left: -1em;
}

.button-transparent::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button-transparent:hover::before,
.button-transparent:hover::after {
    height: 410px;
    width: 410px;
}

.button-transparent:hover {
    color: rgb(10, 25, 30);
}

.button-transparent:active {
    filter: brightness(.8);
}

.button-terminal{
    padding: 0.5em 1.2em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 200;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color-primary);
    z-index: 1;
}
.button-terminal:hover{
    background-color: var(--color-background-secondary);
}